  body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: white;
        }
       
        button {
            padding: 8px 15px;
            cursor: pointer;
        }
        
        li {
            background: #fff;
        
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        li button {
            margin-left: 10px;
        }